h1,h2 {

    color: whitesmoke;
font-size: 50px;
}

p {
    color: whitesmoke;
    font-size: 25px;
    
      }
      
.centeredtext {text-align:center;
color: palegoldenrod;
}

.frontimg{
        margin-left: auto;
        margin-right:auto;
        display: block;
    }

body{
    background-image: url("bricks.jpg"); 
    background-size: cover;
}

body {
    font: italic 1.2em "Fira Sans", serif;
  }

  .boxed {
    text-align:center;
    margin-top: 80px;
    margin-bottom: 80px;
    color: #A0DDE6;
    font-size: 25px;
    border: 1px solid #30C5FF ; 
    background-color: rgba(0, 0, 0, 0.514);
  }
  

#menu a{
    color: palegoldenrod;
    font-size: 36px;
    text-decoration: none;
}

#menu a:hover{
    color: lightblue;
    font-size: 36px;
    text-decoration: none;
}

div {
    font-size: 25px;
  }

  div {
    display: flex;
    align-items: center;
    justify-content: center;
}
.iframe{
  width: 200px;
}


.frontpage{
    display: block;
}